<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout.html">
<body>
<div layout:fragment="content">
    <img src="/img/abadalogo.jpg" style="display: block; margin: 0 auto;width:250px; height:200px;"><br>

    <div style="text-align: center;">
        <h2>ABADA 서울지부</h2>
    </div>
    <!-- 아바다 카포에이라 동영상 추가 -->
    <p style="text-align: center;">
        <iframe width="560" height="315" src="/video/abadacapoeira_.mp4"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </p>
    </div>
</div>
</body>
</html>

