<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout.html">

<head>
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script type="text/javascript" th:src="@{/js/cmnitimain.js}"></script>

</head>
<body>
<div layout:fragment="content">

  <!-- 커뮤니티에 넣어야 하는것들 영상,사진,답글,조회수-->
  <th:block th:include="inc/header :: header"></th:block>

  <button onclick="saveReq()">글작성</button>
  <button onclick="listReq()">글목록</button>
  <button onclick="pagingReq()">페이징목록</button>
</div>
</body>
</html>

